@import url(./fonts.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.conta{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    padding: 25px 0;
}
.nav__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    list-style: none;
    display: flex;
    gap: 40px;
}
.nav__link{
    color: black;
    font-family:"Playback";
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.form{
    display: flex;
    justify-content: space-between;
}
.nav__input{
    border: 2px solid #41A28E;
    width: 180px;
    height: 28px;
    padding: 6px 12px;
    font-family:"Roboto";
    outline: none;
}
.nav__btn{
    background-color: #41A28E;
    border: none;
    width: 28px;
    height: 28px;
}
.nav__item{
    flex-direction: column;
    width: 160px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    position: absolute;
    display: none;
    top: 100%;
}
.nav__item-link{
    padding: 12px 30px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

}
.nav__item-link:not(:nth-of-type(3)){
    border-bottom: 1px solid #E5E5E5;
}
.nav__content:hover .nav__item{
    display: flex;
}
.nav__content{position: relative;}
.intro{
    background-image: url(../img/background1.png);
    height: 750px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro__title{
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 50px;
    line-height: 67px;
    color: #FFFFFF;
    padding: 15px 60px;
    background: rgba(0, 0, 0, 0.7);
}
.intro__text{
    font-family: "Playfair";
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.38);
    font-weight: 400;
    margin: 30px 0 50px;
}
.intro__link{
    text-decoration: none;
    width: 130px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-style: 12px;
    line-height: 16px;
    color: black;
}
.top__info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.top__img{
    width: 255px;
    height: 170px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}
.top__card:nth-of-type(1){
    background-image: url(../img/1.png);
}
.top__card:nth-of-type(2){
    background-image: url(../img/2.png);
}
.top__card:nth-of-type(3){
    background-image: url(../img/3.png);
}
.top__card:nth-of-type(4){
    background-image: url(../img/4.png);
}
.barca{
    background: rgba(75, 72, 72, 0.7);
    width: 100%;
    font-style: 25px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    font-family:"Playfair";
    font-weight: 400;
    transform: translateY(100%);
    transition: 0.5s;
}
.top__img:hover .barca{
    transform:translateY(0);
}
.title {
    margin-top: 50px;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 50px;
    line-height: 67px;
    text-align: center;
    color: #000000;
}
.text {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.main__center{
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 404px;
    display: flex;
    align-items: center;
}
.main__center-text{
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.main__center-title{
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 50px;
    line-height: 67px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.main__center-link{
width: 190px;
height: 53px;
text-decoration: none;
background-color: #fff;
color: #000000;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Playfair';
font-weight: 400;
font-size: 12px;
line-height: 16px;
}
.clothes__box{
    display: flex;
    justify-content: space-between;
}
.clothes__card{
    height: 340px;
    width: 255px;
    background-image: url(../img/5.png);
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
}
.clothes__card:hover .clothes__item{
    transform: translateY(0);
}
.clothes__info:nth-of-type(1) .clothes__card{
    background-image: url(../img/5.png);
}
.clothes__info:nth-of-type(2) .clothes__card{
    background-image: url(../img/6.png);
}
.clothes__info:nth-of-type(3) .clothes__card{
    background-image: url(../img/7.png);
}
.clothes__info:nth-of-type(4) .clothes__card{
    background-image: url(../img/8.png);
}
.clothes__info:nth-of-type(2) .clothes__card::before,
.clothes__info:nth-of-type(4) .clothes__card::before{
    content: "OUT OF STOCK";
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 18px;
    font-family: 'Roboto';
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
background: rgba(0, 0, 0, 0.7);
}
.clothes__info:nth-of-type(4) .clothes__card::before{
    content: "SALE";
}
.clothes__item{
    padding: 16px 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(100%);
    transition: 0.5s;
}
.clothes__link{
    text-decoration: none;
    font-family: 'Playfair';
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #FFFFFF;
display: flex;
gap: 30px;
}
.clothes__desc{
    width: 255px;
    margin-top: 40px;
    padding: 6px;
}
.desc__text{
    margin-bottom: 6px;
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
}
#inp{
    display: none;
}
.menu{
    width: 30px;
    display: none;
}
.close{
    width: 30px;
    display: none;
}
.desc__price{
    font-family: 'Playfair';
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #000000;
}
.desc__price:nth-of-type(4){
    text-decoration: line-through;
}
.price__lined{
    font-family: 'Playfair';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    margin-right: 10px;
    text-decoration: line-through;
}
.footer{
    background-color: #000000;
    margin-top: 50px;
}
.footer__box{
    display: flex;
    justify-content: space-between;
}
.footer__card{
    width: 255px;
}
.footer__title{
    font-family: 'Playfair';
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
margin-top: 36px;
margin-bottom: 40px;
}
.footer__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}
.footer__link{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    width: 255px;
    height: 36px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__text{
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
margin-bottom: 22px;
}
.inp{
    background: #FFFFFF;
    border: none;

    padding: 14px 10px;
}
.footer__btn{
    background-color: #41A28E;
    padding: 12px 9px;
    outline: none;
    border: none;
    color: #FFFFFF;
}
.footer__form{
    display: flex;
    margin-bottom: 20px;
}
.footer__imgs{
    display: flex;
    justify-content: space-between;
}
body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-thumb{
    background-color: aqua;
    border-radius: 30px;
}